// Remove work directories on successful completion
cleanup = true

includeConfig './conf/profiles.config'

// Specify default parameters
params {
	
    // main params
    command = null
    assembly = null
 
    // STAR
    readlength = 101

    // validation
    validate_params = true
    show_hidden_params = false
    monochrome_logs = false
    schema_ignore_params = ''
    help = false
}

process {
    errorStrategy = { task.exitStatus in [130, *137..140] ? 'retry' : 'terminate' }
    maxRetries = 1

    withLabel: process_1cpu_32mb_30min {
        time = '30min'
        cpus = { 1 * task.attempt }
        memory = { 32.MB * task.attempt }
    }

    withLabel: process_1cpu_512mb_30min {
        time = '30min'
        cpus = { 1 * task.attempt }
        memory = { 512.MB * task.attempt }
    }

    withLabel: process_1cpu_64mb_30min_local {
        executor = 'local'
        time = '30min'
        cpus = { 1 * task.attempt }
        memory = { 64.MB * task.attempt }
    }

    withLabel: process_2cpu_2gb_30min {
        time = '30min'
        cpus = { 2 * task.attempt }
        memory = { 2.GB * task.attempt }
    }

    withLabel: process_2cpu_4gb_30min {
        time = '30min'
        cpus = { 2 * task.attempt }
        memory = { 4.GB * task.attempt }
    }

    withLabel: process_8cpu_512mb_10min {
        time = '10min'
        cpus = { 8 * task.attempt }
        memory = { 512.MB * task.attempt }
    }

    withLabel: process_8cpu_16gb_30min {
        time = '30min'
        cpus = { 16 * task.attempt }
        memory = { 16.GB * task.attempt }
    }

    withLabel: process_20cpu_48gb_1h {
        time = { '1h' * task.attempt }
        cpus = { 20 + (4 * task.attempt) }
        memory = { 48.GB * task.attempt }
    }
}

manifest {
    name = 'genome-manager'
    author = """Rob Moccia"""
    homePage = 'https:/github.com/pfizer-rd/genome-manager'
    description = """Genome management for Nextflow pipelines"""
    mainScript = 'main.nf'
    nextflowVersion = '>=21.10.6'
    version = '0.2'
}

includeConfig './conf/modules.config'

