if (params.command == 'register-genome') {
    process {

        withName: '.*:CUSTOM_DUMPSOFTWAREVERSIONS' {
            publishDir = [
                path: { "${params.genome_registry}/.log/software_versions/${params.species}_${params.release}" },
                pattern: 'software*.yml',
                mode: 'copy'
            ]
        }
    }
}
